h1, h2, h3, h4, h5, h6 {
    font-family: Lexend, sans-serif;
    text-decoration: underline;
    font-weight: 700;
}
h2 { 
    font-size: 1.7rem;
    text-transform: uppercase;
}
hr {
    margin: 30px 8vw;
    border: outset rgb(192, 51, 0) 20px;
}
blockquote { 
    background-color: lightgray;
    padding: 1rem;
}
header {
    background-color: rgb(100, 18, 0);
    border-bottom: solid black 4px;
}
body {
    color: rgb(255, 225, 52);
    font-family: 'Franklin Gothic', sans-serif;
    font-weight: 475;
    background-color: rgb(48, 13, 0);
    margin: 0;
}
main {
    margin: 0 auto;
}
footer {
    background-color: rgb(19, 0, 0);
    border-top: solid black 4px;
    padding: 20px 20px 80px;
}
footer h2 {
    color: rgb(248, 240, 83);  
}
strong {
    font-weight: 800;
}
em {
    font-weight: 300;
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: rgb(154, 144, 1);
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: rgba(255, 255, 255, 0.359);
}
a:focus {
    text-decoration: underline;
}
.bordered-image {
    border: 3px solid black;
    max-width: 30vw;
    height: auto;
}
.side-image {
    margin: 0;
    padding: 0;
    max-width: 600px;
    height: auto;
}
figure {
    margin: 0;
    padding: 0;
}
blockquote {
    background-color: black;
    border-radius: 20px;
}
.hori-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 5vw;
}
.flex-description {
    padding-bottom: 40px;
}
.hori-container > * {
    max-width: 25vw;
    height: auto;
}
.image-url {
    display: inline-block;
    width: fit-content;
}
#title-image-container {
    display: flex;
    justify-content: center;
    margin: 0;
}
#title-image {
    max-width: 50vw;
    padding: 40px 0 60px;
    display: inline-block;
    /* border: solid black 4px; */
    height: auto;
}
#publishing-list {
    border-top: solid black 3px;
    border-bottom: solid black 3px;
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center;
}
#publishing-list li {
    padding: 5px 20px;
    margin: 5px 0;
    font-size: 1rem;
}
#publishing-list li + li {
    border-left: solid black 2px;
}
#publishing-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}
/* #cover-image-container {
    display: flex;
    justify-content: center;
    max-width: 20vm;
} */
#cover-image {
    display: block;
    margin: 20px auto;
    max-width: 70%;
    border: solid black 8px;
    border-radius: 10px;
    height: auto;
}
#cover-image-info {
    text-align: center;
}
#quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}
#quote-container > * {
    text-align: center;
    line-height: 10px;
    padding-bottom: 10px;
}