figure {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}
figure > img {
    max-width: 100%;
}
header, main, footer {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}
#tetlist {
    display: flex;
    flex-flow: row wrap;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}
.tet {
    flex: 0 1 300px;
}
.long {
    flex: 0 1 360px;
}
.square {
    flex: 0 1 240px;
}
.tet > img {
    width: 60%;
}
.name {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: larger;
    font-weight: bolder;
}
.aliases {
    text-align: left;
    margin: 1em;
}